<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Основная страница index</title>
</head>
<body><p style="font-weight: bold; font-size: 18px">====Патрулирование======</p>
<p>Начало выполнения миссии патрулирования</p>
<p>Дрон взлетает...</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Дрон взлетает...</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Дрон взлетает...</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Летим вперед на {{ distance }} метров</p>
<p>Поворачиваем на {{ degree }} градусов</p>
<p>Конец выполнения разведовательной миссии</p>
<a href="http://127.0.0.1:5000/">Вернуться на главную страницу</a>
</body>
</html>